
<h1>name: <%= user["name"] %></h1>
<h1>email: <%= user["email"] %></h1>
<h1>id: <%= user['id']%></h1>
<br>
<div>
    <%= items['name'] %>
    <%= items['user_id']  %>
</div>
<br>

<a href="/wishlist">your wishlist</a>
<a href="/newsfeed">newsfeed</a>
<br>
<%# <a href="/items/add">add merch</a>
<a href="/wishlist/add">add items to your wishlist</a> %>
