
<div>
    <%= user['name'] %>'s  Profile
</div>
<div class="profile-wrap">
    <div>
        <p>Inventory :</p>
    </div>
    <div>
        <p>Wishlist :</p>
    </div>
    <div>
        
    </div>
    <div>
        <p>Incoming Trade Offers: </p>
    </div>
    <div>
        <% items.each do |item| %>
            <li><a href="/item_info/<%= item['id']%>"><%= item['name'] %> </a></li>
        <% end %>
        <%# <a href="/items">Items Info</a> %>
    </div>
    <div>
        <% wishlist.each do |item| %>
            <li><%= item['name'] %></li>
        <% end %>
    </div>
    <div>
        
    </div>
    <div>
        <%if  trade_offers.count == 0 %>
            <li>no offers</li>
        <% else %>
            <% trade_offers.each do |item| %>
                <% if current_user()["id"] == user["id"] %>
                    <form action="/accept_trade/<%= item["item_id"] %>" method="post">
                        <div><button class="delete-button"><%= user_by_id( item['reciever_user_id'])['name']%> wants: <%= item['name'] %></button> </div>
                        <br>
                    </form>
                <% else %>
                    <div>
                        <%= user_by_id( item['reciever_user_id'])['name']%> wants: <%= item['name'] %>
                    </div>
                <% end %>
            <% end %>
  
        <% end %>
    </div>
</div>

<br>

