
<div class="trade-menu-container">
    <div class="receiver-menu">
        <div class="username-header">
             <%= offer_receiver["name"]%>
        </div>
        <div class="trading-page-items-box">
            reciever wishlist:
            <% reciever_wishlist.each do |item|%>
            <li>
                 <%= item["name"]%>
            </li>
            <% end %>
        </div>
        <div> 
            <li>
                you want: <%= trade_item['name']%></p>
            </li>
        </div>
    </div>
    <div class="sender-menu">
        <div class="username-header">
            you
        </div>
        <div class="trading-page-items-box">
            <% sender_inventory.each do |item|%>
                <form action="/offered_item_id/<%= item['id']%>/<%=offer_receiver['id']%>/<%= trade_item['id']%>" method="post">
                    <button class="btn btn-light"><%= item["name"]%></button>

                </form>

                
            <% end %>
        </div>
        <div>
            <%# if the db is empty it throws an error %>
            
            
            <li>
                
                <% if trade_offers.to_a.empty? %>
                    choose an item from you inventory
                <% else %>
                   <%= find_item_by_id(trade_offers[0]["offered_item_id"])["name"] %>
                   
                <% end %>
            </li>

        </div>
    </div>


</div>
<form action="/confirm_trade" method="post">
    <button>confirm trade</button>
</form>